{% extends 'webapp/base.html' %} {% block content %}
  <!-- Load cryspy forms tags -->
  {% load crispy_forms_tags %}

  <div class="container bg-light shadow-md p-5 form-layout">
    <h3>Create your account</h3>

    <h5>Start managing your clients today</h5>

    <hr />
    <br />

    <form method="post" autocomplete="off">
      {% csrf_token %}

      <!-- crispy form -->

      <!-- forms -->
      {{ form|crispy }}

      <br />
      <button class="btn btn-primary w-100 btn-block p-2" type="submit">Create Account &nbsp; <i class="fa fa-user" aria-hidden="true"></i></button>
    </form>

    <br />
    <div class="text-center">
      <p>Already have an account?</p>
      <a href="{% url 'my-login' %}">Login</a>
    </div>
  </div>
{% endblock %}
